<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        　　　　　　
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            　　　　　　　　　
            <fileNamePattern>E:\workplace\logs\hp\hp.%d{yyyy-MM-dd}.log</fileNamePattern>
            　　　　　　　　　
            <maxHistory>7</maxHistory>
            　　　　　　
        </rollingPolicy>
        　　　　　　
        <encoder>
            　　　　　　　　　
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            　　　　　　
        </encoder>

    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        　　　　　　
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            　　　　　　　　　
            <fileNamePattern>E:\workplace\logs\hp\audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            　　　　　　　　　
            <maxHistory>7</maxHistory>
            　　　　　　
        </rollingPolicy>
        　　　　　　
        <encoder>
            　　　　　　　　　
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            　　　　　　
        </encoder>

    </appender>

    <logger name="pri.xcz.hp.infrastructure.filter.AuditRecorder" level="info" additivity="false">
        <appender-ref ref="AUDIT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="DEFAULT"/>
    </root>


</configuration>
